.contact {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  cursor: pointer;
  padding: 15px 105px;
  background: transparent;
  border: 1px solid var(--border-bottom-default);
  transition: all 0.3s ease-in-out 0s;
  text-decoration: none;
  color: var(--text-color-default);

  &:hover {
    color: dodgerblue;
    border: 1px solid dodgerblue;
  }
}
