.post_link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.post_body {
  display: flex;
  height: 350px;
  border: 1px solid var(#{--card-background-default});
  border-radius: 15px;
  transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    transform 0.15s ease-in-out;
  cursor: pointer;
  margin-bottom: 40px;
  background-color: var(#{--card-background-default});

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 50px 50px -20px rgb(50 50 93 / 3%), 0 30px 10px -30px rgb(0 0 0 / 6%);
  }

  &:hover .post_image {
    box-shadow: 0px 18px 27px -2px rgba(0, 144, 255, 0.2);
  }
}

.post_image {
  border-radius: 15px 0 0 15px;
  width: 100%;
  height: 100%;
  background-color: #00000012;
  min-height: 260px;

  &__wrapper {
    width: 100%;
    flex: 0 0 48%;
  }
}

.post_info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  color: var(#{--text-color-default});
}

.post_category {
  & i {
    display: inline-block;
    margin-right: 10px;
    height: 10px;
    width: 10px;
    border-radius: 30px;
  }
}

.post_title {
  font-weight: 800;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 34px;
  color: var(#{--text-color-default});
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 140px;
}

.post_descr {
  margin: 0;
  font-family: Inter, system-ui, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(#{--text-color-default});
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 144px;
}

@media (max-width: 768px) {
  .post_body {
    height: auto;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .post_image {
    width: 100%;
    height: 260px;
    border-radius: 15px 0 0 15px;
    flex: 0;
  }

  .post_info {
    padding: 25px 30px 30px;
  }
}
