.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-bottom-default);
  margin-bottom: 45px;

  &_items {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 15px 0;
  }
  &_item {
    & a {
      cursor: pointer;
      color: var(#{--text-color-default});
      transition: opacity 0.3s;
      text-decoration: none;

      &:hover {
        opacity: 0.6;
      }
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &__active {
      margin-right: 20px;

      position: relative;
      & a {
        font-weight: bold;
        text-decoration: none;
        color: dodgerblue;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 0;
        height: 0.5em;
        width: 100%;
        border-bottom: 2px solid dodgerblue;
      }
    }
  }
}

.search {
  cursor: pointer;

  & input {
    max-width: 150px;
  }
  & svg {
    &:hover {
      opacity: 0.6;
    }
    height: 12px;
    width: 12px;
  }
}

@media (max-width: 590px) {
  .tabs {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .search {
    display: none;
  }
}
