.about {
  margin-top: 60px;
  border-radius: 15px;
  //   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  border: 1px solid var(--card-background-default);
  background-color: var(--card-background-default);
}

.wrapper {
  padding: 40px 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.title {
  animation-delay: 1s;
  padding: 65px 20px;
  font-size: 56px;
  font-weight: bold;
  width: 30%;
}

.text {
  animation-delay: 0.57s;
  font-size: 24px;
  line-height: 42px;
  width: 70%;
}

.list_dev {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  & div {
    border-radius: 15px;
    padding: 10px;

    & svg {
      width: 100px;
      height: 100px;
    }
  }
}

@media (max-width: 760px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 44px;
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .text {
    font-size: 16px;
    line-height: 32px;
    width: 100%;
  }

  .list_dev {
    & div {
      & svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}
